<div class="div-b9e94d792f3f4" id="b9e94d792f3f4" name="divb9e94d792f3f4">
  <mat-toolbar
    class="toolbar-6115e9ff496f4"
    id="6115e9ff496f4"
    name="toolbar6115e9ff496f4"
    color="primary"
  >
    <mat-toolbar-row
      class="toolbarRow-93c34e0044a540"
      id="93c34e0044a540"
      title="Title"
      name="toolbarRow93c34e0044a540"
    >
      <div class="div-d8a061e445164" id="d8a061e445164" name="divd8a061e445164">
        <div
          class="div-e09f70092a8e4"
          id="e09f70092a8e4"
          name="dive09f70092a8e4"
        >
          <span
            class="span-184f0a8d57d74 span184f0a8d57d74 headings-custom-styles184f0a8d57d74 span184f0a8d57d74 headings-custom-stylesdfcfc4e254bb4"
            fxFlexAlign="auto"
            id="184f0a8d57d74"
            style="vertical-align: text-top;"
            >Dashboard </span
          ><span
            class="span-57879f5dd2ab4 span57879f5dd2ab4 headings-custom-styles57879f5dd2ab4 span57879f5dd2ab4 headings-custom-styles85c5eda0b9cd4"
            fxFlexAlign="auto"
            id="57879f5dd2ab4"
            style="vertical-align: text-top;"
            >Pages </span
          ><span
            class="span-16bf831370c54 span16bf831370c54 headings-custom-styles16bf831370c54 span16bf831370c54 headings-custom-styles35f883a360d44"
            fxFlexAlign="auto"
            id="16bf831370c54"
            style="vertical-align: text-top;"
            >Features </span
          ><span
            class="span-02e45f50e2134 span02e45f50e2134 headings-custom-styles02e45f50e2134 span02e45f50e2134 headings-custom-styles4c04cb4e29cc4"
            fxFlexAlign="auto"
            id="02e45f50e2134"
            style="vertical-align: text-top;"
            >App
          </span>
        </div>
        <div
          class="div-d3f34efd26844"
          id="d3f34efd26844"
          name="divd3f34efd26844"
        >
          <mat-icon
            class="icon-ada8b98900d54 custom-badge-class-ada8b98900d54"
            id="ada8b98900d54"
            color="default"
            fxFlexAlign="stretch"
            matBadge="3"
            matBadgeDescription="null"
            matBadgeSize="medium"
            matBadgeColor="primary"
            matBadgePosition="after"
            matBadgeOverlap="true"
          >
            chat </mat-icon
          ><mat-icon
            class="icon-e10a317b1a8e4"
            id="e10a317b1a8e4"
            color="default"
            fxFlexAlign="auto"
          >
            notifications_off </mat-icon
          ><mat-icon
            class="icon-eb7066642c1b4"
            id="eb7066642c1b4"
            color="default"
            fxFlexAlign="auto"
          >
            search
          </mat-icon>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="div-67497920f6234" id="67497920f6234" name="div67497920f6234">
    <div class="div-eb844cc9a1934" id="eb844cc9a1934" name="diveb844cc9a1934">
      <div class="div-b14a199b17db4" id="b14a199b17db4" name="divb14a199b17db4">
        <span
          class="span-a6ee432a92754 spana6ee432a92754 headings-custom-stylesa6ee432a92754 spana6ee432a92754 headings-custom-stylesdd2d85fd27124"
          fxFlexAlign="auto"
          id="a6ee432a92754"
          style="vertical-align: text-top;"
          >Dashboard </span
        ><span
          class="span-98370f71a0874 span98370f71a0874 headings-custom-styles98370f71a0874 span98370f71a0874 headings-custom-styles81ccef0fafb34"
          fxFlexAlign="auto"
          id="98370f71a0874"
          style="vertical-align: text-top;"
          >Dashboard
        </span>
      </div>
      <div class="div-557731dc8c344" id="557731dc8c344" name="div557731dc8c344">
        <button
          type="button"
          class="button-fa0438cbdb1e4"
          id="fa0438cbdb1e4"
          name="buttonfa0438cbdb1e4"
          fxFlexAlign="auto"
          mat-raised-button
        >
          <mat-icon
            class="button-btnIcon-fa0438cbdb1e4"
            id="fa0438cbdb1e4"
            color="default"
            fxFlexAlign="auto"
          >
            person_add
          </mat-icon>
          Add Member
          <mat-icon
            class="button-btnRightIcon-fa0438cbdb1e4"
            id="fa0438cbdb1e4"
            color="default"
            fxFlexAlign="auto"
          >
            arrow_drop_down
          </mat-icon>
        </button>
        <button
          type="button"
          class="button-040474cb8c7f4"
          id="040474cb8c7f4"
          name="button040474cb8c7f4"
          fxFlexAlign="auto"
          mat-raised-button
        >
          <mat-icon
            class="button-btnIcon-040474cb8c7f4"
            id="040474cb8c7f4"
            color="default"
            fxFlexAlign="auto"
          >
            article
          </mat-icon>
          New Report
          <mat-icon
            class="button-btnRightIcon-040474cb8c7f4"
            id="040474cb8c7f4"
            color="default"
            fxFlexAlign="auto"
          >
            arrow_drop_down
          </mat-icon>
        </button>
        <button
          type="button"
          class="button-9750c12a71354"
          id="9750c12a71354"
          name="button9750c12a71354"
          fxFlexAlign="auto"
          mat-icon-button
          color="primary"
        >
          <mat-icon
            class="button-btnIcon-9750c12a71354"
            id="9750c12a71354"
            fxFlexAlign="auto"
          >
            menu
          </mat-icon>
        </button>
      </div>
    </div>
    <div class="div-fd07ad5cc8a84" id="fd07ad5cc8a84" name="divfd07ad5cc8a84">
      <mat-card class="card-55bb1cc8b43d4" id="55bb1cc8b43d4">
        <mat-card-header class="card-header-55bb1cc8b43d4"> </mat-card-header>

        <mat-card-content class="card-content-55bb1cc8b43d4">
          <div
            class="div-adc5fde4cfae4"
            id="adc5fde4cfae4"
            name="divadc5fde4cfae4"
          >
            <mat-icon
              class="icon-95c21dc2cbb34"
              id="95c21dc2cbb34"
              color="default"
              fxFlexAlign="auto"
            >
              shopping_cart
            </mat-icon>
            <div
              class="div-6819f5d605574"
              id="6819f5d605574"
              name="div6819f5d605574"
            >
              <span
                class="span-a23d2faa5e644 spana23d2faa5e644 headings-custom-stylesa23d2faa5e644 spana23d2faa5e644 headings-custom-styles1992755000284"
                fxFlexAlign="auto"
                id="a23d2faa5e644"
                style="vertical-align: text-top;"
                >744 </span
              ><span
                class="span-6faab1e92a3c4 span6faab1e92a3c4 headings-custom-styles6faab1e92a3c4 span6faab1e92a3c4 headings-custom-styles08ea668a13744"
                fxFlexAlign="auto"
                id="6faab1e92a3c4"
                style="vertical-align: text-top;"
                >Sales this week
              </span>
            </div>
          </div>
        </mat-card-content> </mat-card
      ><mat-card class="card-d3c55404ae7a4" id="d3c55404ae7a4">
        <mat-card-header class="card-header-d3c55404ae7a4"> </mat-card-header>

        <mat-card-content class="card-content-d3c55404ae7a4">
          <div
            class="div-098ece7e69e84"
            id="098ece7e69e84"
            name="div098ece7e69e84"
          >
            <mat-icon
              class="icon-1300464329b54"
              id="1300464329b54"
              color="default"
              fxFlexAlign="auto"
            >
              shopping_cart
            </mat-icon>
            <div
              class="div-2114536c08274"
              id="2114536c08274"
              name="div2114536c08274"
            >
              <span
                class="span-ecc3e3d17aae4 spanecc3e3d17aae4 headings-custom-stylesecc3e3d17aae4 spanecc3e3d17aae4 headings-custom-styles94d31d2c2d1e4"
                fxFlexAlign="auto"
                id="ecc3e3d17aae4"
                style="vertical-align: text-top;"
                >744 </span
              ><span
                class="span-b2fd4bb2ab224 spanb2fd4bb2ab224 headings-custom-stylesb2fd4bb2ab224 spanb2fd4bb2ab224 headings-custom-styles354a5d4f82354"
                fxFlexAlign="auto"
                id="b2fd4bb2ab224"
                style="vertical-align: text-top;"
                >Sales this week
              </span>
            </div>
          </div>
        </mat-card-content> </mat-card
      ><mat-card class="card-bcc5e90712134" id="bcc5e90712134">
        <mat-card-header class="card-header-bcc5e90712134"> </mat-card-header>

        <mat-card-content class="card-content-bcc5e90712134">
          <div
            class="div-b605152330c74"
            id="b605152330c74"
            name="divb605152330c74"
          >
            <mat-icon
              class="icon-7c79232efa7a4"
              id="7c79232efa7a4"
              color="default"
              fxFlexAlign="auto"
            >
              shopping_cart
            </mat-icon>
            <div
              class="div-a2e0354217e24"
              id="a2e0354217e24"
              name="diva2e0354217e24"
            >
              <span
                class="span-7c98a50564034 span7c98a50564034 headings-custom-styles7c98a50564034 span7c98a50564034 headings-custom-stylesaa346395325c4"
                fxFlexAlign="auto"
                id="7c98a50564034"
                style="vertical-align: text-top;"
                >744 </span
              ><span
                class="span-918e9edc1cdc4 span918e9edc1cdc4 headings-custom-styles918e9edc1cdc4 span918e9edc1cdc4 headings-custom-styles58e7df6d97814"
                fxFlexAlign="auto"
                id="918e9edc1cdc4"
                style="vertical-align: text-top;"
                >Sales this week
              </span>
            </div>
          </div>
        </mat-card-content> </mat-card
      ><mat-card class="card-0a052a32c1b74" id="0a052a32c1b74">
        <mat-card-header class="card-header-0a052a32c1b74"> </mat-card-header>

        <mat-card-content class="card-content-0a052a32c1b74">
          <div
            class="div-831743cf36054"
            id="831743cf36054"
            name="div831743cf36054"
          >
            <mat-icon
              class="icon-90aa8d2f0da84"
              id="90aa8d2f0da84"
              color="default"
              fxFlexAlign="auto"
            >
              shopping_cart
            </mat-icon>
            <div
              class="div-1abc72d6ae094"
              id="1abc72d6ae094"
              name="div1abc72d6ae094"
            >
              <span
                class="span-9a85490d22234 span9a85490d22234 headings-custom-styles9a85490d22234 span9a85490d22234 headings-custom-styles0cd8b607fd0c4"
                fxFlexAlign="auto"
                id="9a85490d22234"
                style="vertical-align: text-top;"
                >744 </span
              ><span
                class="span-a6bda57b0a254 spana6bda57b0a254 headings-custom-stylesa6bda57b0a254 spana6bda57b0a254 headings-custom-stylesf0986af066954"
                fxFlexAlign="auto"
                id="a6bda57b0a254"
                style="vertical-align: text-top;"
                >Sales this week
              </span>
            </div>
          </div>
        </mat-card-content> </mat-card
      ><mat-card class="card-7b46d7ccd4774" id="7b46d7ccd4774">
        <mat-card-header class="card-header-7b46d7ccd4774"> </mat-card-header>

        <mat-card-content class="card-content-7b46d7ccd4774">
          <div
            class="div-f521ecff4bb14"
            id="f521ecff4bb14"
            name="divf521ecff4bb14"
          >
            <mat-icon
              class="icon-8cf5db8b365b4"
              id="8cf5db8b365b4"
              color="default"
              fxFlexAlign="auto"
            >
              shopping_cart
            </mat-icon>
            <div
              class="div-f764c34d107a4"
              id="f764c34d107a4"
              name="divf764c34d107a4"
            >
              <span
                class="span-d188741bc0354 spand188741bc0354 headings-custom-stylesd188741bc0354 spand188741bc0354 headings-custom-styles9d2a2d3319724"
                fxFlexAlign="auto"
                id="d188741bc0354"
                style="vertical-align: text-top;"
                >744 </span
              ><span
                class="span-fc396a3079304 spanfc396a3079304 headings-custom-stylesfc396a3079304 spanfc396a3079304 headings-custom-stylesb9c90e33b9c74"
                fxFlexAlign="auto"
                id="fc396a3079304"
                style="vertical-align: text-top;"
                >Sales this week
              </span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="div-99451968d8f14" id="99451968d8f14" name="div99451968d8f14">
      <div class="div-ce4d7d7717304" id="ce4d7d7717304" name="divce4d7d7717304">
        <div
          class="div-6608ad10597b4"
          id="6608ad10597b4"
          name="div6608ad10597b4"
        >
          <div
            class="div-d8fff3689a9c4"
            id="d8fff3689a9c4"
            name="divd8fff3689a9c4"
          >
            <span
              class="span-db6a2ad751544 spandb6a2ad751544 headings-custom-stylesdb6a2ad751544 spandb6a2ad751544 headings-custom-styles121c563dde364"
              fxFlexAlign="auto"
              id="db6a2ad751544"
              style="vertical-align: text-top;"
              >Add an Order
            </span>
          </div>
        </div>
        <div
          class="div-95ebc2f858404"
          id="95ebc2f858404"
          name="div95ebc2f858404"
        >
          <div
            class="div-6f023235676b4"
            id="6f023235676b4"
            name="div6f023235676b4"
          >
            <span
              class="span-1bf431b86df44 span1bf431b86df44 headings-custom-styles1bf431b86df44 span1bf431b86df44 headings-custom-styles4a7709fa47844"
              fxFlexAlign="auto"
              id="1bf431b86df44"
              style="vertical-align: text-top;"
              >Reciever’s Information
            </span>
          </div>
          <div
            class="div-8ab41c10fdf14"
            id="8ab41c10fdf14"
            name="div8ab41c10fdf14"
          >
            <mat-form-field
              class="input-matFormField-a8c83a18af264"
              floatLabel="auto"
              color="primary"
              appearance="fill"
            >
              <mat-label
                style="vertical-align: text-top;"
                class="input-label-a8c83a18af264"
              >
                First Name
              </mat-label>
              <input
                matInput
                class="input-a8c83a18af264"
                id="a8c83a18af264"
                name="inputa8c83a18af264"
                dir="ltr"
                [formControl]="inputa8c83a18af264"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field
              class="input-matFormField-9283519bc39e4"
              floatLabel="auto"
              color="primary"
              appearance="fill"
            >
              <mat-label
                style="vertical-align: text-top;"
                class="input-label-9283519bc39e4"
              >
                Last Name
              </mat-label>
              <input
                matInput
                class="input-9283519bc39e4"
                id="9283519bc39e4"
                name="input9283519bc39e4"
                dir="ltr"
                [formControl]="input9283519bc39e4"
                type="text"
                required
              />
            </mat-form-field>
          </div>
          <div
            class="div-f10768a15f574"
            id="f10768a15f574"
            name="divf10768a15f574"
          >
            <mat-form-field
              class="datepicker-matFormField-1def5efb03f94"
              id="1def5efb03f94"
              floatLabel="auto"
              color="primary"
              appearance="fill"
              hideRequiredMarker="false"
            >
              <mat-label
                class="datepicker-label-1def5efb03f94"
                style="vertical-align: text-top;"
                >Date of Birth</mat-label
              >
              <input
                matInput
                [matDatepicker]="picker1def5efb03f94"
                class="datepicker-input-1def5efb03f94"
                [formControl]="datePicker1def5efb03f94"
                required
              />
              <mat-datepicker-toggle
                class="datepicker-datepickerToggle-1def5efb03f94 mat-datepickerToggle-custom-1def5efb03f94"
                matSuffix
                [for]="picker1def5efb03f94"
              >
              </mat-datepicker-toggle>
              <mat-datepicker
                #picker1def5efb03f94
                startView="month"
                id="1def5efb03f94"
                class="datepicker-1def5efb03f94"
                ><mat-datepicker-actions
                  ><button
                    mat-button
                    id="1def5efb03f94"
                    class="datepicker-buttonCancel-1def5efb03f94"
                    mat-raised-button
                    color="warn"
                    matDatepickerCancel
                  >
                    cancel</button
                  ><button
                    mat-button
                    id="1def5efb03f94"
                    class="datepicker-buttonApply-1def5efb03f94"
                    mat-raised-button
                    color="primary"
                    matDatepickerApply
                  >
                    apply
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
            <div
              class="div-5dcf274b4c514"
              id="5dcf274b4c514"
              name="div5dcf274b4c514"
            >
              <span
                class="span-54c019f4b2c24 span54c019f4b2c24 headings-custom-styles54c019f4b2c24 span54c019f4b2c24 headings-custom-stylesaad018bb1a004"
                fxFlexAlign="auto"
                id="54c019f4b2c24"
                style="vertical-align: text-top;"
                >Gender:
              </span>
              <mat-radio-group
                class="radiobutton-group-a50b863da2654"
                id="a50b863da2654"
                [formControl]="radioButtona50b863da2654"
                color="accent"
                labelPosition="after"
              >
                <mat-radio-button
                  class="radiobutton-a50b863da2654 {{ item.classButton }}"
                  id="a50b863da2654"
                  name="radioButtona50b863da2654"
                  [color]="item.color"
                  [disabled]="item.disabled"
                  [labelPosition]="item.labelPosition"
                  [checked]="item.checked"
                  [value]="item.selectedValueKey"
                  *ngFor="let item of radioButtonOptionsa50b863da2654"
                >
                  {{ item.optionDisplayKey }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div
            class="div-a4a9565f99714"
            id="a4a9565f99714"
            name="diva4a9565f99714"
          >
            <mat-form-field
              class="textarea-matFormField-3823af3b2eb54"
              floatLabel="auto"
              color="primary"
              appearance="fill"
              hideRequiredMarker="false"
              ><mat-label
                class="textarea-label-3823af3b2eb54"
                style="vertical-align: text-top;"
                >Address</mat-label
              >
              <textarea
                matInput
                class="textarea-3823af3b2eb54"
                id="3823af3b2eb54"
                [formControl]="textArea3823af3b2eb54"
                required
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
              >
              </textarea>
            </mat-form-field>
            <div
              class="div-0000454a78aa4"
              id="0000454a78aa4"
              name="div0000454a78aa4"
            ></div>
          </div>
        </div>
        <div
          class="div-520d27215d3b4"
          id="520d27215d3b4"
          name="div520d27215d3b4"
        >
          <div
            class="div-3cfdb365161e4"
            id="3cfdb365161e4"
            name="div3cfdb365161e4"
          >
            <span
              class="span-bb16e0e2477b4 spanbb16e0e2477b4 headings-custom-stylesbb16e0e2477b4 spanbb16e0e2477b4 headings-custom-stylesefa0b443653b4"
              fxFlexAlign="auto"
              id="bb16e0e2477b4"
              style="vertical-align: text-top;"
              >Billing Infomation
            </span>
          </div>
          <div
            class="div-85cbe212b8994"
            id="85cbe212b8994"
            name="div85cbe212b8994"
          >
            <mat-form-field
              class="input-matFormField-2ddec3918f694"
              floatLabel="auto"
              color="primary"
              appearance="fill"
            >
              <mat-label
                style="vertical-align: text-top;"
                class="input-label-2ddec3918f694"
              >
                Payment Amount
              </mat-label>
              <input
                matInput
                class="input-2ddec3918f694"
                id="2ddec3918f694"
                name="input2ddec3918f694"
                dir="ltr"
                [formControl]="input2ddec3918f694"
                type="text"
                required
              />

              <mat-icon
                class="input-iconPrefix-2ddec3918f694"
                id="2ddec3918f694"
                color="default"
                fxFlexAlign="auto"
                matPrefix
              >
                attach_money
              </mat-icon>
            </mat-form-field>
            <mat-form-field
              class="select-matFormField-5ac823d446b64"
              floatLabel="auto"
              hideRequiredMarker="false"
              floatLabel="auto"
              appearance="fill"
            >
              <mat-label
                class="select-label-5ac823d446b64"
                style="vertical-align: text-top;"
                >Mode of Payment</mat-label
              >
              <mat-select
                class="select-5ac823d446b64"
                id="5ac823d446b64"
                [formControl]="select5ac823d446b64"
                required
              >
              </mat-select>
            </mat-form-field>
          </div>
          <div
            class="div-ee1f38491ed24"
            id="ee1f38491ed24"
            name="divee1f38491ed24"
          >
            <mat-form-field
              class="select-matFormField-c32581c4a1204"
              floatLabel="auto"
              hideRequiredMarker="false"
              floatLabel="auto"
              appearance="fill"
            >
              <mat-label
                class="select-label-c32581c4a1204"
                style="vertical-align: text-top;"
                >Status</mat-label
              >
              <mat-select
                class="select-c32581c4a1204"
                id="c32581c4a1204"
                [formControl]="selectc32581c4a1204"
                required
              >
              </mat-select>
            </mat-form-field>
            <div
              class="div-5168d447f4934"
              id="5168d447f4934"
              name="div5168d447f4934"
            ></div>
          </div>
        </div>
        <div
          class="div-7b92b8ee0d5e4"
          id="7b92b8ee0d5e4"
          name="div7b92b8ee0d5e4"
        >
          <div
            class="div-1563b518a4094"
            id="1563b518a4094"
            name="div1563b518a4094"
          >
            <button
              type="button"
              class="button-39894fa83c3e4"
              id="39894fa83c3e4"
              name="button39894fa83c3e4"
              fxFlexAlign="auto"
              mat-raised-button
            >
              Submit
            </button>
          </div>
        </div>
      </div>
      <div class="div-875be6fb48674" id="875be6fb48674" name="div875be6fb48674">
        <div
          class="div-cb6f169c5c564"
          id="cb6f169c5c564"
          name="divcb6f169c5c564"
        >
          <span
            class="span-103e645f2a7a4 span103e645f2a7a4 headings-custom-styles103e645f2a7a4 span103e645f2a7a4 headings-custom-styles438b5a8117dd4"
            fxFlexAlign="auto"
            id="103e645f2a7a4"
            style="vertical-align: text-top;"
            >Traffic this month </span
          ><mat-icon
            class="icon-394e7d7a52644"
            id="394e7d7a52644"
            fxFlexAlign="auto"
          >
            more_horiz
          </mat-icon>
        </div>
        <mat-table-ext
          class="table-b522a27a27104"
          id="b522a27a27104"
          [columns]="columnsb522a27a27104"
          [dataSource]="dataSourceb522a27a27104"
          [tableWidth]="'100%'"
          [showPaginator]="false"
          [showFirstLastButtons]="true"
          [toolbarHeight]="'120px'"
        >
        </mat-table-ext>
        <ng-template
          #cellTemplateRefTotalb522a27a27104
          let-row="row"
          let-index="index"
          let-column="column"
        >
          <div
            class="div-e4ac89f901af4"
            id="e4ac89f901af4"
            name="dive4ac89f901af4"
          >
            <span
              class="span-0c5c8a7a3da84 span0c5c8a7a3da84 headings-custom-styles0c5c8a7a3da84"
              fxFlexAlign="auto"
              id="0c5c8a7a3da84"
              style="vertical-align: text-top;"
              >2873 visits
            </span>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="div-a60419eb779b4" id="a60419eb779b4" name="diva60419eb779b4">
      <mat-table-ext
        class="table-48b47f0c5a704"
        id="48b47f0c5a704"
        [columns]="columns48b47f0c5a704"
        [dataSource]="dataSource48b47f0c5a704"
        [tableWidth]="'1280px'"
        [showFooterRow]="true"
        [showPaginator]="false"
        [showFirstLastButtons]="true"
        [showToolbar]="true"
        [toolbarTitle]="'Last Orders'"
        [toolbarHeight]="'50px'"
        [toolbarTemplateRef]="toolbarTemplateRef48b47f0c5a704"
      >
      </mat-table-ext>
      <ng-template
        #cellTemplateRefOrderNumber48b47f0c5a704
        let-row="row"
        let-index="index"
        let-column="column"
      >
        <div
          class="div-12ea3c521d174"
          id="12ea3c521d174"
          name="div12ea3c521d174"
        >
          <span
            class="span-9730d857af884 span9730d857af884 headings-custom-styles9730d857af884"
            fxFlexAlign="auto"
            id="9730d857af884"
            style="vertical-align: text-top;"
            >Order #12312
          </span>
          <div
            class="div-62b832303ee24"
            id="62b832303ee24"
            name="div62b832303ee24"
          >
            <span
              class="span-45a004d25a2a4 span45a004d25a2a4 headings-custom-styles45a004d25a2a4"
              fxFlexAlign="auto"
              id="45a004d25a2a4"
              style="vertical-align: text-top;"
              >Receiver: </span
            ><span
              class="span-312a6d90b80d4 span312a6d90b80d4 headings-custom-styles312a6d90b80d4"
              fxFlexAlign="auto"
              id="312a6d90b80d4"
              style="vertical-align: text-top;"
              >Teresa Clark
            </span>
          </div>
        </div> </ng-template
      ><ng-template
        #cellTemplateRefAmountStatus48b47f0c5a704
        let-row="row"
        let-index="index"
        let-column="column"
      >
        <div
          class="div-8c5eb8b16b784"
          id="8c5eb8b16b784"
          name="div8c5eb8b16b784"
        >
          <span
            class="span-f68967336f4c4 spanf68967336f4c4 headings-custom-stylesf68967336f4c4"
            fxFlexAlign="auto"
            id="f68967336f4c4"
            style="vertical-align: text-top;overflow: hidden;"
            >$2,223 </span
          ><span
            class="span-4e8930a151f64 span4e8930a151f64 headings-custom-styles4e8930a151f64"
            fxFlexAlign="auto"
            id="4e8930a151f64"
            style="vertical-align: text-top;"
            >Paid
          </span>
        </div> </ng-template
      ><ng-template
        #cellTemplateRefActions48b47f0c5a704
        let-row="row"
        let-index="index"
        let-column="column"
      >
        <div
          class="div-43e9fb08d2794"
          id="43e9fb08d2794"
          name="div43e9fb08d2794"
        >
          <mat-icon
            class="icon-20cd0676200c4"
            id="20cd0676200c4"
            color="default"
            fxFlexAlign="auto"
          >
            delete </mat-icon
          ><mat-icon
            class="icon-e41f43142e9a4"
            id="e41f43142e9a4"
            color="default"
            fxFlexAlign="auto"
          >
            visibility
          </mat-icon>
        </div> </ng-template
      ><ng-template #toolbarTemplateRef48b47f0c5a704>
        <div
          class="div-4207688cdea94"
          id="4207688cdea94"
          name="div4207688cdea94"
        >
          <button
            type="button"
            class="button-613760f5d3984"
            id="613760f5d3984"
            name="button613760f5d3984"
            fxFlexAlign="auto"
            mat-raised-button
          >
            All
          </button>
          <button
            type="button"
            class="button-13b6287bcfcc4"
            id="13b6287bcfcc4"
            name="button13b6287bcfcc4"
            fxFlexAlign="auto"
            mat-stroked-button
            color="primary"
          >
            Waiting
          </button>
          <button
            type="button"
            class="button-b8a8802a22b64"
            id="b8a8802a22b64"
            name="buttonb8a8802a22b64"
            fxFlexAlign="auto"
            mat-stroked-button
            color="primary"
          >
            Completed
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="div-aac4c72b26044" id="aac4c72b26044" name="divaac4c72b26044">
    <div class="div-999fdca67b1f4" id="999fdca67b1f4" name="div999fdca67b1f4">
      <span
        class="span-95f68ed2761d4 span95f68ed2761d4 headings-custom-styles95f68ed2761d4 span95f68ed2761d4 headings-custom-stylesc7c153e6149a4"
        fxFlexAlign="auto"
        id="95f68ed2761d4"
        style="vertical-align: text-top;"
        >Support </span
      ><span
        class="span-e8b2b48dcc594 spane8b2b48dcc594 headings-custom-stylese8b2b48dcc594 spane8b2b48dcc594 headings-custom-stylesaa9228bfc3bd4"
        fxFlexAlign="auto"
        id="e8b2b48dcc594"
        style="vertical-align: text-top;"
        >Help Center </span
      ><span
        class="span-bdc0becc1f064 spanbdc0becc1f064 headings-custom-stylesbdc0becc1f064 spanbdc0becc1f064 headings-custom-stylesc4d986356f2c4"
        fxFlexAlign="auto"
        id="bdc0becc1f064"
        style="vertical-align: text-top;"
        >Privacy </span
      ><span
        class="span-ab87b41b3b294 spanab87b41b3b294 headings-custom-stylesab87b41b3b294 spanab87b41b3b294 headings-custom-styles177eabf0967e4"
        fxFlexAlign="auto"
        id="ab87b41b3b294"
        style="vertical-align: text-top;"
        >Terms of Service
      </span>
    </div>
    <span
      class="span-a55efd3f54f74 spana55efd3f54f74 headings-custom-stylesa55efd3f54f74 spana55efd3f54f74 headings-custom-styles251c9dc382584"
      fxFlexAlign="auto"
      id="a55efd3f54f74"
      style="vertical-align: text-top;"
      >@ 2023 - fastcode
    </span>
  </div>
</div>
